body {
    height: 100vh;
   background-color: hsl(212, 45%, 89%);
   display: flex;  
   justify-content: center;
   align-items: center;
}
.box {
    width: 260px;
    height: 430px;
    overflow: hidden;
    background-color: hsl(0, 0%, 100%);  
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
    border-radius: 12px;
}
.image img{
    width: 260px;
    height: 250px;
    border-radius: 12px;
}
.text1{
     padding: 15px;
     text-align: center;
     font-family: Outfit , sans-serif;
     font-weight: 700;
     font-size: 20px;
     color: hsl(218, 44%, 22%);
}
.text2{
    text-align: center;
    font-family: Outfit ,sans-serif;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    font-size: 15px;
}